header {
    box-shadow: 2px 2px 2px rgba($color: #c3c3c3, $alpha: 1.0);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.logo{
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}
