footer{

    justify-content: center;
    button{
        font-size: 15px;
        background-color: black;
        border: unset;
        color: white;
        width: 25%;
        height: 30px;
        &:hover{
            background-color: rgb(255, 255, 255);
            color: black;
        }
        &:selected{
            background-color: rgb(255, 255, 255);
            color: black;
        }
    }
}