.container{
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: stretch;

}
.story{
    padding-top: 100px;
    display: flex;
    justify-content: flex-start;
}